<!DOCTYPE html>
<html>
<head>
    <title>Smart Environment Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>

<div class="container">

    <h1>🌍 Smart Environment Dashboard</h1>

    <div class="cards">

        <div class="card">
            <h2>🌡 Temperature</h2>
            <p id="temp">0 °C</p>
        </div>

        <div class="card">
            <h2>💧 Humidity</h2>
            <p id="hum">0 %</p>
        </div>

        <div class="card">
            <h2>🌫 Air Quality</h2>
            <p id="mq">0</p>
        </div>

        <div class="card">
            <h2>⚡ Relay</h2>
            <p id="relay">OFF</p>
        </div>

    </div>

    <div class="chart-box">
        <canvas id="sensorChart"></canvas>
    </div>

    <div id="map"></div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
